
@{
    Layout = "_Layout";

    var nome = ViewBag.ClientName;

}
@section Styles {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

}
<div class="row">
    <div class="col-12">
        <div class="card card-warning" style="margin-top:20px">
            <div class="card-header">
                <div class="card-title">
                    Cliente: @nome
                </div>
            </div>
        </div>


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <div class="row">
                <div class="card-body">
                    <table id="example2" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id Checkout</th>
                                <th>Data</th>
                                <th>Data de Entrega</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkout in Model.Value)
                            {
                                <tr onclick="location.href='@(Url.Action("CheckoutUser", "Checkout", new { checkoutId = checkout.Id }))'">
                                    <td>@checkout.Id</td>
                                    <td>@checkout.Date</td>
                                    <td>@checkout.ExpectedDate</td>

                                    @if (checkout.DeliveryDate != null)
                                    {
                                        <td><span class="badge bg-primary">Encerrado</span></td>
                                    }
                                    else if (checkout.ExpectedDate < DateTime.Now)
                                    {
                                        <td> <span class="badge bg-danger">Multa Aplicada</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge bg-success">A decorrer</span></td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->

            </div>
        </div>
        <!-- /.invoice -->
    </div><!-- /.col -->
</div>
@section Scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>

    <script>
        $(function () {
            $('#example2').DataTable();
        });

        @*function FilterTable(filter) {
            $('#example2').dataTable().fnDestroy();
            $.ajax({
                type: "POST",
                url: "@Url.Action("FilterTable")",
                data: { filter: filter },
                dataType: "json",
                success: function (data) {
                    $('#example2').html("");
                    $('#example2').html(data);
                    $('#example2').DataTable();
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        }*@

    </script>
}